BLOCK ASYNC;
BLOCK RESETPATHS;
FREQUENCY NET "clk_int" 50000000 Hz;
LOCATE COMP "clk" SITE "A2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "PA3" SITE "A3";
IOBUF PORT "PA3" IO_TYPE=LVCMOS33;
LOCATE COMP "PA4" SITE "A4";
IOBUF PORT "PA4" IO_TYPE=LVCMOS33;
LOCATE COMP "PA5" SITE "A5";
IOBUF PORT "PA5" IO_TYPE=LVCMOS33;
LOCATE COMP "PA6" SITE "A6";
IOBUF PORT "PA6" IO_TYPE=LVCMOS33;
LOCATE COMP "PA7" SITE "A7";
IOBUF PORT "PA7" IO_TYPE=LVCMOS33;
LOCATE COMP "PA8" SITE "A8";
IOBUF PORT "PA8" IO_TYPE=LVCMOS33;
LOCATE COMP "PA9" SITE "A9";
IOBUF PORT "PA9" IO_TYPE=LVCMOS33;
LOCATE COMP "PA10" SITE "A10";
IOBUF PORT "PA10" IO_TYPE=LVCMOS33;
LOCATE COMP "PA11" SITE "A11";
IOBUF PORT "PA11" IO_TYPE=LVCMOS33;
LOCATE COMP "PA12" SITE "A12";
IOBUF PORT "PA12" IO_TYPE=LVCMOS33;
LOCATE COMP "PA13" SITE "A13";
IOBUF PORT "PA13" IO_TYPE=LVCMOS33;
LOCATE COMP "PA14" SITE "A14";
IOBUF PORT "PA14" IO_TYPE=LVCMOS33;
LOCATE COMP "PA15" SITE "A15";
IOBUF PORT "PA15" IO_TYPE=LVCMOS33;
LOCATE COMP "PB1" SITE "B1";
IOBUF PORT "PB1" IO_TYPE=LVCMOS33;
LOCATE COMP "PB2" SITE "B2";
IOBUF PORT "PB2" IO_TYPE=LVCMOS33;
LOCATE COMP "PB3" SITE "B3";
IOBUF PORT "PB3" IO_TYPE=LVCMOS33;
LOCATE COMP "PB4" SITE "B4";
IOBUF PORT "PB4" IO_TYPE=LVCMOS33;
LOCATE COMP "PB5" SITE "B5";
IOBUF PORT "PB5" IO_TYPE=LVCMOS33;
LOCATE COMP "PB6" SITE "B6";
IOBUF PORT "PB6" IO_TYPE=LVCMOS33;
LOCATE COMP "PB7" SITE "B7";
IOBUF PORT "PB7" IO_TYPE=LVCMOS33;
LOCATE COMP "PB8" SITE "B8";
IOBUF PORT "PB8" IO_TYPE=LVCMOS33;
LOCATE COMP "PB9" SITE "B9";
IOBUF PORT "PB9" IO_TYPE=LVCMOS33;
LOCATE COMP "PB10" SITE "B10";
IOBUF PORT "PB10" IO_TYPE=LVCMOS33;
LOCATE COMP "PB11" SITE "B11";
IOBUF PORT "PB11" IO_TYPE=LVCMOS33;
LOCATE COMP "PB12" SITE "B12";
IOBUF PORT "PB12" IO_TYPE=LVCMOS33;
LOCATE COMP "PB13" SITE "B13";
IOBUF PORT "PB13" IO_TYPE=LVCMOS33;
LOCATE COMP "PB14" SITE "B14";
IOBUF PORT "PB14" IO_TYPE=LVCMOS33;
LOCATE COMP "PB15" SITE "B15";
IOBUF PORT "PB15" IO_TYPE=LVCMOS33;
LOCATE COMP "PB16" SITE "B16";
IOBUF PORT "PB16" IO_TYPE=LVCMOS33;
LOCATE COMP "PC1" SITE "C1";
IOBUF PORT "PC1" IO_TYPE=LVCMOS33;
LOCATE COMP "PC2" SITE "C2";
IOBUF PORT "PC2" IO_TYPE=LVCMOS33;
LOCATE COMP "PC3" SITE "C3";
IOBUF PORT "PC3" IO_TYPE=LVCMOS33;
LOCATE COMP "PC4" SITE "C4";
IOBUF PORT "PC4" IO_TYPE=LVCMOS33;
LOCATE COMP "PC5" SITE "C5";
IOBUF PORT "PC5" IO_TYPE=LVCMOS33;
LOCATE COMP "PC6" SITE "C6";
IOBUF PORT "PC6" IO_TYPE=LVCMOS33;
LOCATE COMP "PC7" SITE "C7";
IOBUF PORT "PC7" IO_TYPE=LVCMOS33;
LOCATE COMP "PC8" SITE "C8";
IOBUF PORT "PC8" IO_TYPE=LVCMOS33;
LOCATE COMP "PC9" SITE "C9";
IOBUF PORT "PC9" IO_TYPE=LVCMOS33;
LOCATE COMP "PC10" SITE "C10";
IOBUF PORT "PC10" IO_TYPE=LVCMOS33;
LOCATE COMP "PC11" SITE "C11";
IOBUF PORT "PC11" IO_TYPE=LVCMOS33;
LOCATE COMP "PC12" SITE "C12";
IOBUF PORT "PC12" IO_TYPE=LVCMOS33;
LOCATE COMP "PC13" SITE "C13";
IOBUF PORT "PC13" IO_TYPE=LVCMOS33;
LOCATE COMP "PC14" SITE "C14";
IOBUF PORT "PC14" IO_TYPE=LVCMOS33;
LOCATE COMP "PC15" SITE "C15";
IOBUF PORT "PC15" IO_TYPE=LVCMOS33;
LOCATE COMP "PC16" SITE "C16";
IOBUF PORT "PC16" IO_TYPE=LVCMOS33;
LOCATE COMP "PD1" SITE "D1";
IOBUF PORT "PD1" IO_TYPE=LVCMOS33;
LOCATE COMP "PD3" SITE "D3";
IOBUF PORT "PD3" IO_TYPE=LVCMOS33;
LOCATE COMP "PD4" SITE "D4";
IOBUF PORT "PD4" IO_TYPE=LVCMOS33;
LOCATE COMP "PD5" SITE "D5";
IOBUF PORT "PD5" IO_TYPE=LVCMOS33;
LOCATE COMP "PD6" SITE "D6";
IOBUF PORT "PD6" IO_TYPE=LVCMOS33;
LOCATE COMP "PD7" SITE "D7";
IOBUF PORT "PD7" IO_TYPE=LVCMOS33;
LOCATE COMP "PD8" SITE "D8";
IOBUF PORT "PD8" IO_TYPE=LVCMOS33;
LOCATE COMP "PD9" SITE "D9";
IOBUF PORT "PD9" IO_TYPE=LVCMOS33;
LOCATE COMP "PD10" SITE "D10";
IOBUF PORT "PD10" IO_TYPE=LVCMOS33;
LOCATE COMP "PD11" SITE "D11";
IOBUF PORT "PD11" IO_TYPE=LVCMOS33;
LOCATE COMP "PD12" SITE "D12";
IOBUF PORT "PD12" IO_TYPE=LVCMOS33;
LOCATE COMP "PD13" SITE "D13";
IOBUF PORT "PD13" IO_TYPE=LVCMOS33;
LOCATE COMP "PD14" SITE "D14";
IOBUF PORT "PD14" IO_TYPE=LVCMOS33;
LOCATE COMP "PD16" SITE "D16";
IOBUF PORT "PD16" IO_TYPE=LVCMOS33;
LOCATE COMP "PE1" SITE "E1";
IOBUF PORT "PE1" IO_TYPE=LVCMOS33;
LOCATE COMP "PE2" SITE "E2";
IOBUF PORT "PE2" IO_TYPE=LVCMOS33;
LOCATE COMP "PE3" SITE "E3";
IOBUF PORT "PE3" IO_TYPE=LVCMOS33;
LOCATE COMP "PE4" SITE "E4";
IOBUF PORT "PE4" IO_TYPE=LVCMOS33;
LOCATE COMP "PE5" SITE "E5";
IOBUF PORT "PE5" IO_TYPE=LVCMOS33;
LOCATE COMP "PE6" SITE "E6";
IOBUF PORT "PE6" IO_TYPE=LVCMOS33;
LOCATE COMP "PE7" SITE "E7";
IOBUF PORT "PE7" IO_TYPE=LVCMOS33;
LOCATE COMP "PE8" SITE "E8";
IOBUF PORT "PE8" IO_TYPE=LVCMOS33;
LOCATE COMP "PE9" SITE "E9";
IOBUF PORT "PE9" IO_TYPE=LVCMOS33;
LOCATE COMP "PE10" SITE "E10";
IOBUF PORT "PE10" IO_TYPE=LVCMOS33;
LOCATE COMP "PE11" SITE "E11";
IOBUF PORT "PE11" IO_TYPE=LVCMOS33;
LOCATE COMP "PE12" SITE "E12";
IOBUF PORT "PE12" IO_TYPE=LVCMOS33;
LOCATE COMP "PE13" SITE "E13";
IOBUF PORT "PE13" IO_TYPE=LVCMOS33;
LOCATE COMP "PE14" SITE "E14";
IOBUF PORT "PE14" IO_TYPE=LVCMOS33;
LOCATE COMP "PE15" SITE "E15";
IOBUF PORT "PE15" IO_TYPE=LVCMOS33;
LOCATE COMP "PE16" SITE "E16";
IOBUF PORT "PE16" IO_TYPE=LVCMOS33;
LOCATE COMP "PF1" SITE "F1";
IOBUF PORT "PF1" IO_TYPE=LVCMOS33;
LOCATE COMP "PF2" SITE "F2";
IOBUF PORT "PF2" IO_TYPE=LVCMOS33;
LOCATE COMP "PF3" SITE "F3";
IOBUF PORT "PF3" IO_TYPE=LVCMOS33;
LOCATE COMP "PF4" SITE "F4";
IOBUF PORT "PF4" IO_TYPE=LVCMOS33;
LOCATE COMP "PF5" SITE "F5";
IOBUF PORT "PF5" IO_TYPE=LVCMOS33;
LOCATE COMP "PF12" SITE "F12";
IOBUF PORT "PF12" IO_TYPE=LVCMOS33;
LOCATE COMP "PF13" SITE "F13";
IOBUF PORT "PF13" IO_TYPE=LVCMOS33;
LOCATE COMP "PF14" SITE "F14";
IOBUF PORT "PF14" IO_TYPE=LVCMOS33;
LOCATE COMP "PF15" SITE "F15";
IOBUF PORT "PF15" IO_TYPE=LVCMOS33;
LOCATE COMP "PF16" SITE "F16";
IOBUF PORT "PF16" IO_TYPE=LVCMOS33;
LOCATE COMP "PG1" SITE "G1";
IOBUF PORT "PG1" IO_TYPE=LVCMOS33;
LOCATE COMP "PG2" SITE "G2";
IOBUF PORT "PG2" IO_TYPE=LVCMOS33;
LOCATE COMP "PG3" SITE "G3";
IOBUF PORT "PG3" IO_TYPE=LVCMOS33;
LOCATE COMP "PG4" SITE "G4";
IOBUF PORT "PG4" IO_TYPE=LVCMOS33;
LOCATE COMP "PG5" SITE "G5";
IOBUF PORT "PG5" IO_TYPE=LVCMOS33;
LOCATE COMP "PG12" SITE "G12";
IOBUF PORT "PG12" IO_TYPE=LVCMOS33;
LOCATE COMP "PG13" SITE "G13";
IOBUF PORT "PG13" IO_TYPE=LVCMOS33;
LOCATE COMP "PG14" SITE "G14";
IOBUF PORT "PG14" IO_TYPE=LVCMOS33;
LOCATE COMP "PG15" SITE "G15";
IOBUF PORT "PG15" IO_TYPE=LVCMOS33;
LOCATE COMP "PG16" SITE "G16";
IOBUF PORT "PG16" IO_TYPE=LVCMOS33;
LOCATE COMP "PH2" SITE "H2";
IOBUF PORT "PH2" IO_TYPE=LVCMOS33;
LOCATE COMP "PH3" SITE "H3";
IOBUF PORT "PH3" IO_TYPE=LVCMOS33;
LOCATE COMP "PH4" SITE "H4";
IOBUF PORT "PH4" IO_TYPE=LVCMOS33;
LOCATE COMP "PH5" SITE "H5";
IOBUF PORT "PH5" IO_TYPE=LVCMOS33;
LOCATE COMP "PH12" SITE "H12";
IOBUF PORT "PH12" IO_TYPE=LVCMOS33;
LOCATE COMP "PH13" SITE "H13";
IOBUF PORT "PH13" IO_TYPE=LVCMOS33;
LOCATE COMP "PH14" SITE "H14";
IOBUF PORT "PH14" IO_TYPE=LVCMOS33;
LOCATE COMP "PH15" SITE "H15";
IOBUF PORT "PH15" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ1" SITE "J1";
IOBUF PORT "PJ1" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ2" SITE "J2";
IOBUF PORT "PJ2" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ3" SITE "J3";
IOBUF PORT "PJ3" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ4" SITE "J4";
IOBUF PORT "PJ4" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ5" SITE "J5";
IOBUF PORT "PJ5" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ12" SITE "J12";
IOBUF PORT "PJ12" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ13" SITE "J13";
IOBUF PORT "PJ13" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ14" SITE "J14";
IOBUF PORT "PJ14" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ15" SITE "J15";
IOBUF PORT "PJ15" IO_TYPE=LVCMOS33;
LOCATE COMP "PJ16" SITE "J16";
IOBUF PORT "PJ16" IO_TYPE=LVCMOS33;
LOCATE COMP "PK1" SITE "K1";
IOBUF PORT "PK1" IO_TYPE=LVCMOS33;
LOCATE COMP "PK2" SITE "K2";
IOBUF PORT "PK2" IO_TYPE=LVCMOS33;
LOCATE COMP "PK3" SITE "K3";
IOBUF PORT "PK3" IO_TYPE=LVCMOS33;
LOCATE COMP "PK4" SITE "K4";
IOBUF PORT "PK4" IO_TYPE=LVCMOS33;
LOCATE COMP "PK5" SITE "K5";
IOBUF PORT "PK5" IO_TYPE=LVCMOS33;
LOCATE COMP "PK12" SITE "K12";
IOBUF PORT "PK12" IO_TYPE=LVCMOS33;
LOCATE COMP "PK13" SITE "K13";
IOBUF PORT "PK13" IO_TYPE=LVCMOS33;
LOCATE COMP "PK14" SITE "K14";
IOBUF PORT "PK14" IO_TYPE=LVCMOS33;
LOCATE COMP "PK15" SITE "K15";
IOBUF PORT "PK15" IO_TYPE=LVCMOS33;
LOCATE COMP "PK16" SITE "K16";
IOBUF PORT "PK16" IO_TYPE=LVCMOS33;
LOCATE COMP "PL1" SITE "L1";
IOBUF PORT "PL1" IO_TYPE=LVCMOS33;
LOCATE COMP "PL2" SITE "L2";
IOBUF PORT "PL2" IO_TYPE=LVCMOS33;
LOCATE COMP "PL3" SITE "L3";
IOBUF PORT "PL3" IO_TYPE=LVCMOS33;
LOCATE COMP "PL4" SITE "L4";
IOBUF PORT "PL4" IO_TYPE=LVCMOS33;
LOCATE COMP "PL5" SITE "L5";
IOBUF PORT "PL5" IO_TYPE=LVCMOS33;
LOCATE COMP "PL12" SITE "L12";
IOBUF PORT "PL12" IO_TYPE=LVCMOS33;
LOCATE COMP "PL13" SITE "L13";
IOBUF PORT "PL13" IO_TYPE=LVCMOS33;
LOCATE COMP "PL14" SITE "L14";
IOBUF PORT "PL14" IO_TYPE=LVCMOS33;
LOCATE COMP "PL15" SITE "L15";
IOBUF PORT "PL15" IO_TYPE=LVCMOS33;
LOCATE COMP "PL16" SITE "L16";
IOBUF PORT "PL16" IO_TYPE=LVCMOS33;
LOCATE COMP "PM1" SITE "M1";
IOBUF PORT "PM1" IO_TYPE=LVCMOS33;
LOCATE COMP "PM2" SITE "M2";
IOBUF PORT "PM2" IO_TYPE=LVCMOS33;
LOCATE COMP "PM3" SITE "M3";
IOBUF PORT "PM3" IO_TYPE=LVCMOS33;
LOCATE COMP "PM4" SITE "M4";
IOBUF PORT "PM4" IO_TYPE=LVCMOS33;
LOCATE COMP "PM5" SITE "M5";
IOBUF PORT "PM5" IO_TYPE=LVCMOS33;
LOCATE COMP "PM6" SITE "M6";
IOBUF PORT "PM6" IO_TYPE=LVCMOS33;
LOCATE COMP "PM7" SITE "M7";
IOBUF PORT "PM7" IO_TYPE=LVCMOS33;
LOCATE COMP "PM8" SITE "M8";
IOBUF PORT "PM8" IO_TYPE=LVCMOS33;
LOCATE COMP "PM9" SITE "M9";
IOBUF PORT "PM9" IO_TYPE=LVCMOS33;
LOCATE COMP "PM11" SITE "M11";
IOBUF PORT "PM11" IO_TYPE=LVCMOS33;
LOCATE COMP "PM12" SITE "M12";
IOBUF PORT "PM12" IO_TYPE=LVCMOS33;
LOCATE COMP "PM13" SITE "M13";
IOBUF PORT "PM13" IO_TYPE=LVCMOS33;
LOCATE COMP "PM14" SITE "M14";
IOBUF PORT "PM14" IO_TYPE=LVCMOS33;
LOCATE COMP "PM15" SITE "M15";
IOBUF PORT "PM15" IO_TYPE=LVCMOS33;
LOCATE COMP "PM16" SITE "M16";
IOBUF PORT "PM16" IO_TYPE=LVCMOS33;
LOCATE COMP "PN1" SITE "N1";
IOBUF PORT "PN1" IO_TYPE=LVCMOS33;
LOCATE COMP "PN3" SITE "N3";
IOBUF PORT "PN3" IO_TYPE=LVCMOS33;
LOCATE COMP "PN4" SITE "N4";
IOBUF PORT "PN4" IO_TYPE=LVCMOS33;
LOCATE COMP "PN5" SITE "N5";
IOBUF PORT "PN5" IO_TYPE=LVCMOS33;
LOCATE COMP "PN6" SITE "N6";
IOBUF PORT "PN6" IO_TYPE=LVCMOS33;
LOCATE COMP "PN7" SITE "N7";
IOBUF PORT "PN7" IO_TYPE=LVCMOS33;
LOCATE COMP "PN8" SITE "N8";
IOBUF PORT "PN8" IO_TYPE=LVCMOS33;
LOCATE COMP "PN11" SITE "N11";
IOBUF PORT "PN11" IO_TYPE=LVCMOS33;
LOCATE COMP "PN12" SITE "N12";
IOBUF PORT "PN12" IO_TYPE=LVCMOS33;
LOCATE COMP "PN13" SITE "N13";
IOBUF PORT "PN13" IO_TYPE=LVCMOS33;
LOCATE COMP "PN14" SITE "N14";
IOBUF PORT "PN14" IO_TYPE=LVCMOS33;
LOCATE COMP "PN16" SITE "N16";
IOBUF PORT "PN16" IO_TYPE=LVCMOS33;
LOCATE COMP "PP1" SITE "P1";
IOBUF PORT "PP1" IO_TYPE=LVCMOS33;
LOCATE COMP "PP2" SITE "P2";
IOBUF PORT "PP2" IO_TYPE=LVCMOS33;
LOCATE COMP "PP3" SITE "P3";
IOBUF PORT "PP3" IO_TYPE=LVCMOS33;
LOCATE COMP "PP4" SITE "P4";
IOBUF PORT "PP4" IO_TYPE=LVCMOS33;
LOCATE COMP "PP5" SITE "P5";
IOBUF PORT "PP5" IO_TYPE=LVCMOS33;
LOCATE COMP "PP6" SITE "P6";
IOBUF PORT "PP6" IO_TYPE=LVCMOS33;
LOCATE COMP "PP7" SITE "P7";
IOBUF PORT "PP7" IO_TYPE=LVCMOS33;
LOCATE COMP "PP8" SITE "P8";
IOBUF PORT "PP8" IO_TYPE=LVCMOS33;
LOCATE COMP "PP11" SITE "P11";
IOBUF PORT "PP11" IO_TYPE=LVCMOS33;
LOCATE COMP "PP12" SITE "P12";
IOBUF PORT "PP12" IO_TYPE=LVCMOS33;
LOCATE COMP "PP13" SITE "P13";
IOBUF PORT "PP13" IO_TYPE=LVCMOS33;
LOCATE COMP "PP14" SITE "P14";
IOBUF PORT "PP14" IO_TYPE=LVCMOS33;
LOCATE COMP "PP15" SITE "P15";
IOBUF PORT "PP15" IO_TYPE=LVCMOS33;
LOCATE COMP "PP16" SITE "P16";
IOBUF PORT "PP16" IO_TYPE=LVCMOS33;
LOCATE COMP "PR1" SITE "R1";
IOBUF PORT "PR1" IO_TYPE=LVCMOS33;
LOCATE COMP "PR2" SITE "R2";
IOBUF PORT "PR2" IO_TYPE=LVCMOS33;
LOCATE COMP "PR3" SITE "R3";
IOBUF PORT "PR3" IO_TYPE=LVCMOS33;
LOCATE COMP "PR4" SITE "R4";
IOBUF PORT "PR4" IO_TYPE=LVCMOS33;
LOCATE COMP "PR5" SITE "R5";
IOBUF PORT "PR5" IO_TYPE=LVCMOS33;
LOCATE COMP "PR6" SITE "R6";
IOBUF PORT "PR6" IO_TYPE=LVCMOS33;
LOCATE COMP "PR7" SITE "R7";
IOBUF PORT "PR7" IO_TYPE=LVCMOS33;
LOCATE COMP "PR8" SITE "R8";
IOBUF PORT "PR8" IO_TYPE=LVCMOS33;
LOCATE COMP "PR12" SITE "R12";
IOBUF PORT "PR12" IO_TYPE=LVCMOS33;
LOCATE COMP "PR13" SITE "R13";
IOBUF PORT "PR13" IO_TYPE=LVCMOS33;
LOCATE COMP "PR14" SITE "R14";
IOBUF PORT "PR14" IO_TYPE=LVCMOS33;
LOCATE COMP "PR15" SITE "R15";
IOBUF PORT "PR15" IO_TYPE=LVCMOS33;
LOCATE COMP "PR16" SITE "R16";
IOBUF PORT "PR16" IO_TYPE=LVCMOS33;
LOCATE COMP "PT2" SITE "T2";
IOBUF PORT "PT2" IO_TYPE=LVCMOS33;
LOCATE COMP "PT3" SITE "T3";
IOBUF PORT "PT3" IO_TYPE=LVCMOS33;
LOCATE COMP "PT4" SITE "T4";
IOBUF PORT "PT4" IO_TYPE=LVCMOS33;
LOCATE COMP "PT6" SITE "T6";
IOBUF PORT "PT6" IO_TYPE=LVCMOS33;
LOCATE COMP "PT7" SITE "T7";
IOBUF PORT "PT7" IO_TYPE=LVCMOS33;
LOCATE COMP "PT8" SITE "T8";
IOBUF PORT "PT8" IO_TYPE=LVCMOS33;
LOCATE COMP "PT13" SITE "T13";
IOBUF PORT "PT13" IO_TYPE=LVCMOS33;
LOCATE COMP "PT14" SITE "T14";
IOBUF PORT "PT14" IO_TYPE=LVCMOS33;
LOCATE COMP "PT15" SITE "T15";
IOBUF PORT "PT15" IO_TYPE=LVCMOS33;
